<div id="main-screen" >
    <div id="player1">
        <h1>{{ player1 }}</h1>
        <table  id="p1-base">
            <tr *ngFor="let row of board1 ">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </table>
       
    </div>
    
    <div id="player2">
        <h1>{{ player2 }}</h1>
        <table id="p2-realtime">
            <tr *ngFor="let row of board2_C; let i = index">
                <td *ngFor="let col of row; let j = index" (change)="win(board2)" (click) = "attack1(i,j)">{{col}}</td>
            </tr>
        </table>
      
    </div>
</div>

<div id="screen">
    <div class="player">
        <h1>player1</h1>
        <table id="p1-realtime">
            <tr *ngFor="let row of board1_C; let i = index">
                <td *ngFor="let col of row; let j = index" (change)="win(board1)" (click) = "attack2(i,j)">{{col}}</td>
            </tr>
        </table>
    </div>

    <div class="player">
        <h1>{{ player2 }}</h1>
        <table  id="p2-base">
            <tr *ngFor="let row of board2 ">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="gameOver == true">
    <h1>Hoooraaay!</h1>
    <h2>{{winner}} has wond the game!</h2>
</div>