#screen, #main-screen{
    display: flex;
    width: 100%;
    cursor:grab;
}
#main-screen div#player1, #screen div.player{
    margin: 2% 10% 0% 10%;
}

#main-screen div#player2, #screen div.player{
    margin: 2% 3% 0% 10%;
}

#player2 table tr td,#player1 table tr td, .player table tr td{
    width: 40px;
    height: 25px;
}
#player2 table,#player1 table, .player table{
    border: 2px solid;
}

h1 
{
    color: white;
    text-align: center;
}

p,h2 
{
    color: lightblue;
    text-align: center;
}

.text-red
{
    color: red;
}

.input
{
    text-align: center;
}

.setupB
{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 25px;
}

.setupB table tr td
{
    width: 40px;
    height: 25px;
    display: flex;
}